@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-radio-container {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  margin-right: 15px;
  cursor: pointer;
}

.custom-radio-container input {
  display: none; /* Hide the default radio button */
}

.custom-radio {
  width: 18px;
  height: 18px;
  border: 2px solid #79DE90;
  border-radius: 50%;
  position: relative;
  margin-left: 8px;
}

.custom-radio-container input:checked + .custom-radio::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: #79DE90;
  border-radius: 50%;
}
